@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'ExtraboldItalic';
		src: url(../public/fonts/ExtraboldItalic.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Regular';
		src: url(../public/fonts/Regular.woff2) format('woff2');
	}
	@font-face {
		font-family: 'RobotoMono-SemiBoldItalic';
		src: url(../public/fonts/RobotoMono-SemiBoldItalic.woff2) format('woff2');
	}
}
